
.titleColor{
    color: #802BB1;
}
p{
    color: #D1D7E0;
}
.main{
    background-color: #2D283E;
}
.termsFont{
    font-size: 12px;
}
.boxColor{
    background-color: #564f6f;
    border: 1px solid #564f6fa5;
}
