*{
    margin: 0;
    padding: 0;
}
.login{
    /* height: 100vh; */
    /* padding-top: 100px; */
    background: #2D283E;
}
.login-container{
    /* height: 550px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(54, 30, 67, 0.51);
    backdrop-filter:'blur(50px)';
    margin: auto;
    /* padding: 40px 60px; */
}
.login-container h1{
    margin: 20px 0px;
    text-align: center;
    color: white;
}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.login-fields input{
    /* height: 30px; */
    padding-left: 20px;
    border: 1px solid rgb(8, 8, 8);
    background: rgba(0, 0, 0, 0.493);
    outline: none;
    font-size: 18px;
    border-radius: 20px;
}
.login-container button{
    /* height: 72px; */
    color: white;
    background: rgba(143, 78, 196, 0.349);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    border-radius: 20px;
    cursor: pointer;
}
.login-login{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}
.login-login span{
    color: rgb(195, 0, 255);
    font-weight: 600;
}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}