* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
body {
    overflow-x: hidden;
}
=======
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;/* x axis scrolling is hide*/
}
.selected{
    color: rgb(233, 184, 8);
    font-size:xx-large;
}
>>>>>>> 261df3014090f463357c01918646d3db0ccf137c
